<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.example.org/mmiModel"
            class="org.mmi.model.ModelPackage"
            genModel="model/mmiModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="model"
            class="org.mmi.model.util.ModelResourceFactoryImpl"/>
   </extension>

</plugin>
